<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Pagr</title>
</head>
<body>
    <%- include('common/header') %>        //implement common file to load html file
    <h1>Login successfully</h1>
</body>
</html>